%h1
  Welcome to the NEF Scanning App, #{@user.name}
%p
  You have successfully signed up,
  Your Username is: #{@user.username}
%p
  Your Temporary Password is : #{@user.temp_pw}
%p
  Please be sure to change your email and password upon logging in.
  %br/
%p
  To login to the site, just follow this link: #{@url}.
%p Thanks for joining and have a great day!
