%p#notice= notice
= image_tag show_image_timetable_path(@timetable), id: 'timetable', class: 'img-responsive', style: 'width:100%; height:auto;'

%br
= link_to 'Back', timetables_path, :class => 'btn btn-default'
