%h1 Import

%table#bookings
  %tr
    %th Booking
  - @bookings.each do |booking|
    %tr
      %td= booking.booking_reference


= form_tag import_bookings_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import"
