%h1 New booking

= link_to 'Create New User', new_user_path, :class => 'btn btn-primary'
%br
%br
= link_to 'Create Booking for user', existing_bookings_path, :class => 'btn btn-primary'
%br
%br
= link_to 'Back', bookings_path, :class => 'btn btn-default'
