%h1 Homepage

%b Welcome
= current_user.name
%h3 QR codes

- @bookingUserID.each do |b|
 %b Conference:
 - Conference.where(id: b.conference_id).each do |c|
  = c.name
  %br
 %img{src: generate_qr(b.booking_reference), class: "qr-code"}
 %br
%br


%b To subscribe to our new mailing list and to stay up to date with the conference, please
%a{:href => "https://uksemiconductors.us12.list-manage.com/subscribe?u=28a002a1a3ef6e637c55b6b97&id=0d9a6c398d"}click here.
