%h3 Notifications
.table-responsive
%table.table.table-striped
  %thead
    %tr
      %th Notification Name
      %th Notification Description
      %th Time
      %th
      %th
      %th

  %tbody
    - @notifications.each do |notification|
      %tr
        %td= notification.not_id
        %td= notification.not_des
        %td= notification.time
        %td= link_to 'Show', notification

%br
