%h1 Map
%br
%img{src: '/map.jpg'}

%br
%br

%b The conference will take place at Sheffield Hallam University City Campus (Howard Street, Sheffield, S1 1WB).Visit our
%a{:href => "http://uksemiconductors.com/?page_id=350"} location page
%b for more information about the venue and traveling.
