%head
  %title Instascan
  -# %script{src: "instascan.min.js", type: "text/javascript"}
%body
  %audio#beep
    %source{src: '/beep.mp3', type: 'audio/mp3'}
  %video#preview
:javascript
    let scanner = new Instascan.Scanner({ video: document.getElementById('preview'), mirror: false });
    scanner.addListener('scan', function (content) {
      console.log(content);
      console.log(`${window.location.host}/bookings/${content}`)

      $.ajax({
        method: "POST",
        url: `/scans/validate_scan`,
        data: {bookingRef: content},
        success: function(data) {
          if(data['message'] === 'Success'){
            let beep = document.getElementById('beep')
            beep.play()
          }
            window.alert(data['message'])
        }
      })
    });
    Instascan.Camera.getCameras().then(function (cameras) {
      if (cameras.length > 0) {
        scanner.start(cameras[1]);
      } else {
         console.error('No cameras found.');
      }
    }).catch(function (e) {
      console.error(e);
    });

%br
