%head
  %title Instascan
  %script{src: "instascan.min.js", type: "text/javascript"}
%body
  %video#preview
  :javascript
    let scanner = new Instascan.Scanner({ video: document.getElementById('preview'), mirror: false });
    scanner.addListener('scan', function (content) {
       console.log(content);
       // window.alert("User scanned in successfully");
      // $.ajax({
      //   method: "POST",
      //   url: `/bookings/${content}`,
      //   data: {'booking[attended]': [1]},
      //   // dataType: dataType
      // });
      $.post(`/bookings/${content}`,
      {
        'booking[attended]': [0,1]
      },
      function(data, status) {
        alert("Data: " + data + "\nStatus: " + status);
      })
    });

    Instascan.Camera.getCameras().then(function (cameras) {
      if (cameras.length > 0) {
        scanner.start(cameras[1]);
      } else {
         console.error('No cameras found.');
      }
    }).catch(function (e) {
      console.error(e);
    });

%br
= link_to 'Codes', qrU_scans_path
