%head
  %title Instascan
  %script{src: "instascan.min.js", type: "text/javascript"}
%body
  %video#preview
  :javascript
    let scanner = new Instascan.Scanner({ video: document.getElementById('preview'), mirror: false });
    scanner.addListener('scan', function (content) {
       console.log(content);
       window.alert("User scanned....");

       var params = {
           type: "POST",
           method: "PATCH",
           success: success,
           attendance: 'booking[attended]'
       };
       if (attendance == 0) {
           params.url = `/bookings/${bookingref}`;
           params.data = {'booking[attended]': 1};
           $.ajax(params);
       } else {
           window.alert("User has already been scanned....");
       }
    });


    Instascan.Camera.getCameras().then(function (cameras) {
      if (cameras.length > 0) {
        scanner.start(cameras[1]);
      } else {
         console.error('No cameras found.');
      }
    }).catch(function (e) {
      console.error(e);
    });
