  /*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require epi_utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice
  *= require users
  *= requre borders
*/

body {
  font-family: 'Noto Sans', sans-serif !important;
}

h5 {
  text-transform: uppercase !important;
  opacity: 0.5;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.btn-secondary {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.table > tbody > tr > td {
  vertical-align: initial;
}

.btn-new-user {
  margin-bottom: 20px;
}

.logo {
  position: inherit;
  left: 25%;
}

.timetable {
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
  width: 100% !important;
}

#preview {
  width: 100%;
}
