/*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require epi_utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice
  *= require users
  *= require bootstrap-table/bootstrap-table
*/

.navbar-brand {
  line-height: 0;
  height: auto;
  margin: 5px 15px;
  padding: 0;
}

.navbar-brand > img {
  display: initial;
}

.navbar-default {
  background-color: white;
  border: 0;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
