// Place all the styles related to the Timetables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.timetable {
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
  width: 100% !important;
}
